/* Add application styles & imports to this file! */
body{
  margin: 0;
  padding: 0;
  background-color: rgb(11, 199, 199);
}
.container{
  text-align: center;
}
.btn{
  border: 2px solid #000000;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "Lato";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}
.btn1{
  color: #000000;
}
.btn1:hover{
  color:rgb(12, 223, 223);
}
.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #1b1a1a;
  z-index: -1;
  transition: 1s;
}
.btn1::before{
  top:0;
  border-radius: 0 0 50% 50%;
}
.btn1:hover::before{
  height: 180%;
}
.lbl1{
  text-align: center;
  font-size: 200%;
  font-family: Lato;
  color: #ffffff;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  height: 10%;
}